body {
    background-color: #000;
    color: #F0F0F0; text-shadow: 1px 1px 10px #FFD700;
    font-family: 'Allura', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.spotlight {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 215, 0, 0.5), transparent 70%);
    pointer-events: none;
    mix-blend-mode: screen;
    margin-top: -40px;
}

@keyframes move {
    0% { transform: translate(0, 0); }
    25% { transform: translate(100px, -50px); }
    50% { transform: translate(-80px, 30px); }
    75% { transform: translate(50px, -70px); }
    100% { transform: translate(0, 0); }
}

.container {
    max-width: 80vw;
    padding: 20px;
    margin-top: -30px;
}

img {
    width: 400px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin: 10px 0;
}

.animation {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
